.tree ul {
  width: 95%;
  margin: 10px 0;
}
.tree li {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.tree li.has-children {
  position: relative;
}
.tree li.has-children:after {
  width: 1px;
  height: 90%;
  content: "";
  background-color: black;
  position: absolute;
  top: 12.5px;
  left: 0;
}
