.flatpickr-calendar.inline {
    /* display: flex; */
    position: relative;
    top: 2px;
     background: #33333303;
     z-index: 100;
}
.flatpickr-day.selected , .flatpickr-day.selected:hover{
        background: #000;
}

.flatpickr-input[readonly] {
    cursor: pointer;
     width: fit-content;
    width: fit-content ! IMPORTANT;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 6px;
    border-radius: 10px;
    outline: none;
    text-align: center;
}
.divcontainer{
    border: 1px solid #ddd;
    padding: 0px 10px;
    border-radius: 10px;
    width: fit-content;
    padding-right: 0px  !important;

}
.flatpickr-input[readonly]:focus{
    border:none
}
.divcontainer:focus-within {
    border-color: #14151662 !important;
    border-width: 3px !important;
  }